name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: OTP ${{matrix.otp}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: [23, 22, 21, 20, 19, 18]

    container:
      image: erlang:${{matrix.otp}}

    steps:
    - uses: actions/checkout@v2
    - name: Compile
      run: rebar3 compile
    - name: Run tests
      run: rebar3 do eunit, ct
